# Firebase Configuration for Andaman Quiz Web Admin
# Replace with your project variables or set in Cloudflare Pages Dashboard -> Settings -> Environment Variables
VITE_FIREBASE_API_KEY=AIzaSyDdkNWXdjhR1tdIdpBz7LXf13bMGr16KDM
VITE_FIREBASE_AUTH_DOMAIN=andaman-quiz.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=andaman-quiz
VITE_FIREBASE_STORAGE_BUCKET=andaman-quiz.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=974859873844
VITE_FIREBASE_APP_ID=1:974859873844:web:andamanquizweb
